<br />
<table>
	<tr>
		<td valign="top" width="64" align="center"><img src="{$tpldir}images/li/msg.png" width="48" height="48" border="0" alt="" /></td>
		<td valign="top">
			<b>{$title}</b>
			<br />{$msg}
			<br /><br />
			<input type="button" value="&laquo; {lng p="back"}" onclick="{if !$backLink}history.back(){else}document.location.href='{$backLink}'{/if};" />
		</td>
	</tr>
</table>