<div class="sidebarHeading">{lng p="organizer"}</div>
<div class="contentMenuIcons">
	<a href="organizer.php?sid={$sid}"><img src="{$tpldir}images/li/ico_overview.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="overview"}</a><br />
	<a href="organizer.calendar.php?sid={$sid}"><img src="{$tpldir}images/li/ico_calendar.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="calendar"}</a><br />
	<a href="organizer.todo.php?sid={$sid}"><img src="{$tpldir}images/li/ico_todo.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="todolist"}</a><br />
	<a href="organizer.addressbook.php?sid={$sid}"><img src="{$tpldir}images/li/ico_addressbook.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="addressbook"}</a><br />
	<a href="organizer.notes.php?sid={$sid}"><img src="{$tpldir}images/li/ico_notes.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="notes"}</a><br />
</div>

<div class="sidebarHeading">{lng p="tasks"}</div>
<div class="contentMenuIcons">
{foreach from=$tasks key=taskID item=task}
	<input type="checkbox" id="sbTask_{$taskID}" onclick="setTaskDone('{$sid}', {$taskID}, this.checked);"{if $task.akt_status==64} checked="checked"{/if} />
	<a href="organizer.todo.php?action=editTask&id={$taskID}&sid={$sid}">{text value=$task.titel cut=20}</a><br />
{/foreach}
{if $tasks_haveMore}
	<small><a href="organizer.todo.php?sid={$sid}">{lng p="more"}...</a></small><br />
{/if}
</div>

<div class="sidebarHeading">{lng p="calendar"}</div>
<center>
	<br />{miniCalendar}
</center>
