<div class="innerWidget" style="text-align:center;">
	<div id="wdDnDArea">
		<img src="./plugins/templates/images/widget_dnd_inactive.gif" border="0" alt="" />
	</div>
	
	<script src="./clientlib/dndupload.js" language="javascript" type="text/javascript"></script>
	
	<script language="javascript">
	<!--
		initDnDUpload(EBID('wdDnDArea'), 'webdisk.php?sid='+currentSID+'&folder=0&action=dndUpload', function() {literal}{{/literal} document.location.href='webdisk.php?sid='+currentSID+'&folder=0'; {literal}}{/literal});
	//-->
	</script>
</div>
