<div class="innerWidget">
	{$bmwidget_welcome_welcomeText}<br /><br />
	
	<a href="email.php?sid={$sid}"><img width="16" height="16" src="{$tpldir}images/li/menu_ico_inbox.png" align="absmiddle" border="0" />
	{$bmwidget_welcome_mails}</a><br />
	
	<a href="organizer.calendar.php?sid={$sid}"><img width="16" height="16" src="{$tpldir}images/li/ico_calendar.png" align="absmiddle" border="0" />
	{$bmwidget_welcome_dates}</a><br />
	
	<a href="organizer.todo.php?sid={$sid}"><img width="16" height="16" src="{$tpldir}images/li/ico_todo.png" align="absmiddle" border="0" />
	{$bmwidget_welcome_tasks}</a><br />
	
	
</div>